/* Comentario CSS (Cascade Style Sheet): Las clases empiezan por .nombre-clase */

.todo-documento {
    background-color: #101d37;
    color: #7cb4fd
}

.fondo-rojo {
    background-color: #db3232
}

.fondo-verde {
    background-color: #00f128
}

.letra-grande {
    font-size: 3em;
}

.mitad {
    width: 50%;
}